ul {
    list-style: circle;
}

.light {
    color: #666;
}

/* when in doubt, important it out */

.light a {
    color: #666 !important;
}

.light a:hover {
    color: #222 !important;
}

/* for making all content within a row be vertically centered
.row-vertically-centered .columns {
   display: inline-block;
   float: none;
   margin-left: 0;
   vertical-align: middle;
}
*/

#title-header  {
    border-bottom: 1px solid #666;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

#title-header .title {
    margin: 0;
    font-size: 4.4rem; /* magic number yooooo */
}

#title-header .title a {
    color: #222;
    text-decoration: none;
}

#title-header .social span {
    margin-right: 0.5em;
    white-space: nowrap;
}

#title-header .social .author-icons a {
    margin-right: 0.5em;
}

#title-header .social a {
    text-decoration: none;
}

footer {
    margin-top: 4rem;
    border-top: 1px solid #666;
    padding-top: 2rem;
    margin-bottom: 50vh;
}

#posts-list {
    list-style: none;
}

#posts-list h2 {
    margin: 0;
}

#posts-list h2 a {
    color: #222;
    text-decoration: none;
}

#post-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#post-headline {
    margin: 0;
    font-weight: bold;
}

#post-content ul {
    margin-left: 1em;
}

#post-content img,
#post-content canvas
{
    max-width: 100%;
}

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-body {
    position: relative;
    background-color: #fefefe;
    margin: 10rem auto; /* 15% from the top and centered */
    padding: 5rem;
    border: 1px solid #888;
    max-width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    line-height: 1rem;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
