html {
    font-family: Helvetica, sans-serif;
}

@font-face {
    font-family: "Overpass";
    src: url("overpass-regular.woff") format('woff');
}

h1, h2, h3, h4, h5, h6, .button-primary, .button {
    font-family: "Overpass", Helvetica;
}

ul {
    list-style: circle;
}

.light {
    color: #666;
}

/* when in doubt, important it out */

.light a {
    color: #666 !important;
}

.light a:hover {
    color: #222 !important;
}

/* for making all content within a row be vertically centered
.row-vertically-centered .columns {
   display: inline-block;
   float: none;
   margin-left: 0;
   vertical-align: middle;
}
*/

#title-header  {
    border-bottom: 1px solid #666;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

#title-header .title {
    margin: 0;
    font-size: 4.4rem; /* magic number yooooo */
}

#title-header .title a {
    color: #222;
    text-decoration: none;
}

#title-header .social span {
    display: block;
}

footer {
    margin-top: 4rem;
    border-top: 1px solid #666;
    padding-top: 2rem;
    margin-bottom: 50vh;
}

#posts-list {
    list-style: none;
}

#posts-list h2 {
    margin: 0;
}

#posts-list h2 a {
    color: #222;
    text-decoration: none;
}

#post-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#post-headline {
    margin: 0 0 2rem; 0;
    font-weight: bold;
}

#post-content ul {
    margin-left: 1em;
}

#post-content img,
#post-content canvas
{
    max-width: 100%;
}

#page-turner {
    height: 2rem;
    font-size: 2rem;
}
