<header id="title-header" role="banner">
  <div class="row">
    <div class="eight columns">
      <h5 class="title">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </h5>
    </div>

    <div class="four columns">
      <div class="social">
        <span class="spaced">RSS/Social:</span>
        <a class="spaced" href="{{ 'feed.xml' | relative_url }}">
          <i class="fas fa-rss"></i>
        </a>
        <a class="spaced" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
        <a class="spaced" href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>

  </div>
</header>
