<header id="title-header" role="banner">
  <div class="row row-vertically-centered">
    <div class="eight columns">
      <h1 class="title">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </h1>
    </div>

    <div class="four columns light">
      <div class="social">
        <span class="spaced">RSS/Social:</span>
        <a class="spaced" href="{{ 'feed.xml' | relative_url }}">
          <i class="fas fa-rss"></i>
        </a>
        <a class="spaced" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
        <a class="spaced" href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="donation">
        <span>If you like what I do, consider donating!</span><br/>
        <span>
          <a href="https://cash.me/$mediocregopher">USD</a>
          •
          <a href="bitcoin:1KSqgPBQ7VWc5yxUT2DsB3VpsvRyahL2k8">BTC</a>
          •
          LTC
          •
          ETH
          •
          ZEC
        </span>
      </div>
    </div>

  </div>
</header>
