<header id="title-header" role="banner">
  <div class="row row-vertically-centered">
    <div class="five columns">
      <h1 class="title">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </h1>
    </div>

    <div id="crypto-display" class="four columns"></div>

    <div class="three columns light">
      <div class="social">
        <span class="spaced">RSS/Social:</span>
        <a class="spaced" href="{{ 'feed.xml' | relative_url }}">
          <i class="fas fa-rss"></i>
        </a>
        <a class="spaced" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
        <a class="spaced" href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="donation">
        <span>If you like what I do, consider donating!</span><br/>
        <span>
          <a href="https://cash.me/$mediocregopher" target="_blank">USD</a>
          •
          <a class="crypto" href="bitcoin:18kqNYjUZ4zNEp4VjE3pKPLBitUy6U76rk">BTC</a>
          •
          <a class="crypto" href="litecoin:LZgyna6Nw4phzWv24QP4xgUi7hC9DDHV7o">LTC</a>
          •
          <a class="crypto" href="ethereum:0xB8e1608059174760f4652178303f7c7a59121922">ETH</a>
          •
          <a class="crypto" href="zcash:zcMmjd2gNetan9QciRExVdTb64ZEYPjk8w6NiEXnLRcDbVQQxZ9xvKH3Ab3y7uccCrN5HRvR5YVvq684gC1drvnYadp3Yz2">ZEC</a>
        </span>
      </div>
    </div>

  </div>
</header>
