{{ define "body" }}

  <p>
    By Tag:
    {{ range .Payload.Tags }}
    <a href="{{ BlogURL "/" }}?tag={{ . }}">{{ . }}</a>
    {{ end }}
  </p>

  <ul id="posts-list">

    {{ range .Payload.Posts }}
    <li>
      <h2>
        <a href="{{ PostURL .ID }}">{{ .Title }}</a>
      </h2>
      <span>{{ DateTimeFormat .PublishedAt }}</span>
      {{ if not .LastUpdatedAt.IsZero }}
      <span>(Updated {{ DateTimeFormat .LastUpdatedAt }})</span>
      {{ end }}
      <p>{{ .Description }}</p>
    </li>
    {{ end }}

  </ul>

  {{ if or (ge .Payload.PrevPage 0) (ge .Payload.NextPage 0) }}
    <div id="page-turner">

    {{ if ge .Payload.PrevPage 0 }}
      <a style="float: left;" href="?p={{ .Payload.PrevPage}}">Newer</a>
    {{ end }}

    {{ if ge .Payload.NextPage 0 }}
      <a style="float:right;" href="?p={{ .Payload.NextPage}}">Older</a>
    {{ end }}

    </div>
  {{ end }}

{{ end }}

{{ template "base.html" . }}
