ul {
    list-style: circle;
}

.light {
    color: #666;
}

/* when in doubt, important it out */

.light a {
    color: #666 !important;
}

.light a:hover {
    color: #222 !important;
}

/* for making all content within a row be vertically centered
.row-vertically-centered .columns {
   display: inline-block;
   float: none;
   margin-left: 0;
   vertical-align: middle;
}
*/

#title-header  {
    border-bottom: 1px solid #666;
    padding-top: 2rem;
    padding-bottom:2rem;
}

#title-header .title {
    margin: 0;
    font-size: 4.4rem; /* magic number yooooo */
    font-weight: bold;
}

#title-header .title a {
    color: #222;
    text-decoration: none;
}

#title-header .social span {
    margin-right: 0.5em;
    white-space: nowrap;
}

#title-header .social .author-icons a {
    margin-right: 0.5em;
}

#title-header .social a {
    text-decoration: none;
}

#crypto-display {
    min-width: 1px;
}

#crypto-display-qr img,
#crypto-display-qr canvas {
    width: 100%;
    max-width: 512px;
}

#crypto-display-addr {
    overflow-wrap: break-word;
    margin-top: 1em;
}

#crypto-display-x {
    text-align: center;
    margin-top: 1em;
}

#crypto-display-x span:hover {
    cursor: pointer;
    font-weight: bold;
}

#crypto-display-x span {
    cursor: pointer;
}

#posts-list {
    margin-top: 3rem;
    list-style: none;
}

#posts-list h2 {
    margin: 0;
}

#posts-list h2 a {
    color: #222;
    text-decoration: none;
}

#post-header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#post-headline {
    margin: 0;
}

#post-content {
    border-bottom: 1px solid #666;
    margin-bottom: 2rem;
}

#post-content ul {
    margin-left: 1em;
}

#post-content img,
#post-content canvas
{
    max-width: 100%;
}
