ul {
    list-style: circle;
}

.light {
    color: #666;
}

.light a {
    color: #666 !important;
}

.light a:hover {
    color: #222;
}

/* for making all content within a row be vertically centered */
.row-vertically-centered .columns {
   display: inline-block;
   float: none;
   margin-left: 0;
   vertical-align: middle;
}

#title-header  {
    border-bottom: 1px solid #666;
    padding-top: 2rem;
    padding-bottom:2rem;
}

#title-header .title {
    margin: 0;
    font-weight: bold;
}

#title-header .title a {
    color: #222;
    text-decoration: none;
}

#title-header .social .spaced {
    text-decoration: none;
    margin-right: 0.5em;
}

#posts-list {
    margin-top: 3rem;
    list-style: none;
}

#posts-list h2 {
    margin: 0;
}

#posts-list h2 a {
    color: #222;
    text-decoration: none;
}

#post-header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#post-headline {
    margin: 0;
}

#post-content ul {
    margin-left: 1em;
}
