ul {
    list-style: circle;
}

.light {
    color: #666;
}

.light a {
    color: #666 !important;
}

.light a:hover {
    color: #222;
}

/* for making all content within a row be vertically centered */
.row-vertically-centered .columns {
   display: inline-block;
   float: none;
   margin-left: 0;
   vertical-align: middle;
}

#title-header  {
    border-bottom: 1px solid #666;
    padding-top: 2rem;
    padding-bottom:2rem;
}

#title-header .title {
    margin: 0;
    font-weight: bold;
}

#title-header .title a {
    color: #222;
    text-decoration: none;
}

#title-header .social .spaced {
    text-decoration: none;
    margin-right: 0.5em;
}

#crypto-display {
    margin-right: 2rem;
}

/* the qr library uses a canvas to generate the qr code then base64's it into a
 * separate img tag. For an instant the original canvas shows though, creating
 * an annoying visual, so this ensures that that doesn't happen. */
#crypto-display-qr canvas {
    display: none;
}

#crypto-display-qr img {
    width: 100%;
}

#crypto-display-addr {
    word-wrap: break-word;
    margin-top: 1em;
}

#crypto-display-x {
    text-align: center;
    margin-top: 1em;
}

#crypto-display-x span:hover {
    cursor: pointer;
    font-weight: bold;
}

#crypto-display-x span {
    cursor: pointer;
}

#posts-list {
    margin-top: 3rem;
    list-style: none;
}

#posts-list h2 {
    margin: 0;
}

#posts-list h2 a {
    color: #222;
    text-decoration: none;
}

#post-header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#post-headline {
    margin: 0;
}

#post-content ul {
    margin-left: 1em;
}
