<header id="title-header" role="banner">
  <div class="row">
    <div class="seven columns" style="margin-bottom: 3rem;">
      <h1 class="title">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </h1>
      <div class="light social">
        <span>By {{ site.author | escape }}</span>
        <span>
          Even more @
          <a href="{{ site.hub_url }}" target="_blank">{{ site.hub_url }}</a>
        </span>
      </div>
    </div>
    {%- if!page.nofollow != true %}
    <div class="five columns light">
      <span style="display:block; margin-bottom:0.5rem;">Get notified when new posts are published!</span>
      <a href="{{ "/follow.html" | relative_url }}"><button class="button-primary">
          <i class="far fa-envelope"></i>
          Follow
      </button></a>
      <a href="{{ "/feed.xml" | relative_url }}"><button class="button">
          <i class="fas fa-rss"></i>
          RSS
      </button></a>
    </div>
    {% endif -%}
  </div>
</header>
