---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" style="margin-bottom: 50vh;">

  <header id="post-header">
    <h1 id="post-headline" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="light">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ site.author }}</span>
      </span>
      <!-- • -->
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.date_format }}
      </time>
      •
      {%- if page.updated %}
      <time datetime="{{ page.updated | date_to_xmlschema }}" itemprop="dateModified">
        (Updated {{ page.updated | date: site.date_format }})
      </time>
      •
      {% endif -%}
      <span itemprop="about"><em>{{ page.description }}</em></span>
    </div>
  </header>

  {% if page.series %}
    {% assign foundThis = false %}
    {% for post in site.posts reversed %}
      {% if post.series == page.series %}
        {% if post.url == page.url %}
          {% assign foundThis = true %}
        {% elsif foundThis %}
          {% assign next = post %}
          {% break %}
        {% else %}
          {% assign prev = post %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if prev or next %}
      <p class="light"><em>
        This post is part of a series:<br/>
        {% if prev %}
        Previously: <a href="{{ prev.url | relative_url }}">{{ prev.title }}</a></br>
        {% endif %}
        {% if next %}
        Next: <a href="{{ next.url | relative_url }}">{{ next.title }}</a></br>
        {% endif %}
      </em></p>
    {% endif %}
  {% endif %}

  <div id="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.git_repo %}
  <p class="light">
    <em>To check this project out locally:</em></br>
    <pre><code>git clone {{ page.git_repo }}
{% if page.git_commit %}git checkout {{ page.git_commit }}{% endif %}</code></pre>
  </p>
  {% endif %}

  {% if prev or next %}
    <p class="light"><em>
      If you liked this post, consider checking out other posts in the series:<br/>
      {% if prev %}
      Previously: <a href="{{ prev.url | relative_url }}">{{ prev.title }}</a></br>
      {% endif %}
      {% if next %}
      Next: <a href="{{ next.url | relative_url }}">{{ next.title }}</a></br>
      {% endif %}
    </em></p>
  {% endif %}

</article>
