---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header id="post-header">
    <h1 id="post-headline" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="light">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ site.author }}</span>
      </span>
      <!-- • -->
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      •
      <span itemprop="about"><em>{{ page.description }}</em></span>
    </div>
  </header>

  <div id="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
